.vishal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: large;
    /* align-items: baseline; */
    text-align: left;
    font-weight: bold; /* Bold text */
    
}

.vishal input{
    border:3px solid rgb(66, 66, 141);
    border-radius: 5px;
    width: 500px;
    height: 40px;
     box-shadow: inset 1px 1px 1px 1px rgba(96, 103, 130, 0.5);
}


.my-button{
    
}

